certifi==2021.10.8
chardet==4.0.0
click==8.0.4
dj-database-url==0.5.0
Django==3.2.13
idna==3.3
mod-wsgi==4.9.0
Pillow==9.0.1
psycopg2==2.9.3
pytz==2022.1
requests==2.27.1
schedule==1.1.0
urllib3==1.26.9
